

.displayer{
    display: block;
    padding-top: 7px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0px;
    font-family: inherit;
    font-size: inherit;
    word-break: break-all;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    z-index: 0;
}

.parentdiv{
    position: relative;
}

.label{
    background-color: aquamarine;
    pointer-events:auto;
}
.badge{
    padding-left: 0px;
    padding-right: 0px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline-block;
}

.transparentSpan{
    color: transparent;
}